[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
invoke = "*"
PyYAML = "==4.2b4"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
